NEXT_PUBLIC_MONAD_RPC=https://testnet-rpc.monad.xyz
NEXT_PUBLIC_ESCROW_CONTRACT_ADDRESS=deployed_contract_address_here
NEXT_PUBLIC_RECLAIM_APP_ID=your_reclaim_app_id
NEXT_PUBLIC_RECLAIM_APP_SECRET=your_reclaim_app_secret
